<div class="hero-banner">
  <h2 class="hero-title">
    <span class="animated-text">{{ bannerMessage }}</span>
  </h2>
  <p>Browse our collection of new Arrivals</p>
</div>

<!-- <img src="assets/hero section.jpg"> -->

<!-- 🔍 Search + Sort -->
<div class="controls">
  <input
    type="text"
    placeholder="Search products..."
    [(ngModel)]="searchTerm"
  />

  <select [(ngModel)]="sortCategory">
    <option value="">All Categories</option>
    <option value="Electronics">Electronics</option>
    <option value="Clothing">Clothing</option>
    <option value="Books">Books</option>
    <!-- add more categories as needed -->
  </select>
</div>

<div class="product-list">
  <app-product-card
    *ngFor="let p of filteredProducts"
    [product]="p"
    [loggedInUser]="loggedInUser"
    (addToCart)="onAddToCart($event)">
  </app-product-card>
</div>
