<h3>Order Summary</h3>

<div class="summary-container">
  <table class="summary-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of cartItems">
        <tr *ngIf="item.quantity > 0">
          <td>{{ item.name }}</td>
          <td>₹{{ item.price }}</td>
          <td>{{ item.quantity }}</td>
          <td>₹{{ getIndividualTotal(item) }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <div class="coupon-section">
    <input type="text" [(ngModel)]="couponCode" placeholder="Enter coupon code" />
    <button (click)="applyCoupon()">Apply</button>
  </div>

  <p><strong>Original Total:</strong> ₹{{ getOriginalTotal() }}</p>
  <p><strong>Discount:</strong> -₹{{ discount }}</p>
  <p>
    <strong>Delivery Charges:</strong> ₹{{
      getOriginalTotal() > 2000 ? 0 : deliveryCharge
    }}
    [delivery charge free over 2000]
  </p>
  <p class="grand-total"><strong>Grand Total:</strong> ₹{{ getGrandTotal() }}</p>
  <p class="savings"><strong>Your Total Savings:</strong> ₹{{ getTotalSavings() }}</p>

  <button class="proceed-btn" *ngIf="getGrandTotal()>0" (click)="proceedOrder()">Proceed with Order</button>
</div>
