.order-sidebar {
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar-btn {
  display: block;
  padding: 12px;
  color: #aaa;
  text-decoration: none;
  border-left: 3px solid transparent;
  transition: all 0.3s;
}

.sidebar-btn:hover {
  background: rgba(255,255,255,0.05);
  color: white;
}

/* Active class automatically applied by Angular Router */
.sidebar-btn.active {
  color: #a855f7; /* Neon Purple */
  border-left-color: #a855f7;
  background: rgba(168,85,247,0.1);
}
