<nav class="navbar">
  <span *ngIf="currentUser" class="user-info">
    Welcome, {{ currentUser.name }}
  </span>
  <span *ngIf="!currentUser" class="user-info">
    Please log in
  </span>

  <div class="nav-actions">
    
    <button routerLink="/home" routerLinkActive="active-link">
      Dashboard
    </button>

    <button *ngIf="!currentUser" routerLink="/login" routerLinkActive="active-link">
      Login
    </button>

    <button *ngIf="currentUser" routerLink="/orders" routerLinkActive="active-link">
      Orders
    </button>

    <button *ngIf="currentUser?.role==='user'" routerLink="/profile" routerLinkActive="active-link">
      My Profile
    </button>

    <button *ngIf="currentUser" routerLink="/cart" routerLinkActive="active-link">
      Cart
    </button>

    <button *ngIf="currentUser" (click)="logout.emit()">
      Sign Out
    </button>
    
  </div>
</nav>