<div class="edit-section">
  <h3 class="form-title">✏️ Edit Products</h3>

  <div class="card-container">
    <div class="product-card" *ngFor="let p of productList">
      <div class="card-header">

        <input [(ngModel)]="p.name" placeholder="Product Name" />
        <button class="save-btn" (click)="saveProduct(p)">Save</button>
      </div>


      <textarea [(ngModel)]="p.description" placeholder="Description"></textarea>


      <input type="number" [(ngModel)]="p.price" placeholder="Price" />

      <input [(ngModel)]="p.category" placeholder="Category" />
    </div>
  </div>
</div>