<h3>Shopping Cart</h3>
<div class="cart-container">
  <div *ngFor="let item of cartItems">
    <div *ngIf="item.quantity > 0" class="cart-card">
      <h4>{{ item.name }}</h4>
      <p>Price: ₹{{ item.price }}</p>
      <p>Quantity: {{ item.quantity }}</p>
      <p><strong>Subtotal:</strong> ₹{{ getIndividualTotal(item) }}</p>
      <div class="cart-actions">
        <button class="remove-btn" (click)="onRemove(item.id)">-</button>
        <button class="add-btn" (click)="onAdd(item.id)">+</button>
        <button class="delete-btn" (click)="onDelete(item.id)">Delete</button>
        <button class="wishlist-btn" (click)="onAddToWishlist(item.id)">Add to Wishlist</button> 
      </div>
    </div>
  </div>
</div>

<!-- <p class="total"><strong>Total:</strong> ₹{{ getTotal() }}</p> -->
