<div class="form-card">
  <h3 class="form-title">✏️ Edit Product</h3>
 
  <form #editForm="ngForm" (ngSubmit)="onSubmit()" class="admin-form">
    <!-- Product Name -->
    <label>
      Product Name
      <input type="text" [(ngModel)]="product.name" name="name" required minlength="3" #name="ngModel" />
    </label>
    <div class="error" *ngIf="name.invalid && name.touched">
      <small *ngIf="name.errors?.['required']">Name is required.</small>
      <small *ngIf="name.errors?.['minlength']">Name must be at least 3 characters.</small>
    </div>
 
    <!-- Description -->
    <label>
      Description
      <textarea [(ngModel)]="product.description" name="description" required minlength="5" #desc="ngModel"></textarea>
    </label>
    <div class="error" *ngIf="desc.invalid && desc.touched">
      <small *ngIf="desc.errors?.['required']">Description is required.</small>
      <small *ngIf="desc.errors?.['minlength']">Description must be at least 5 characters.</small>
    </div>
 
    <!-- Price -->
    <label>
      Price
      <input type="number" [(ngModel)]="product.price" name="price" required min="1" #price="ngModel" />
    </label>
    <div class="error" *ngIf="price.invalid && price.touched">
      <small *ngIf="price.errors?.['required']">Price is required.</small>
      <small *ngIf="price.errors?.['min']">Price must be greater than 0.</small>
    </div>
 
    <!-- Category -->
     <label>
  Category
  <select [(ngModel)]="product.category" name="category">
    <option value="">-- No Category --</option>
    <option value="Electronics">Electronics</option>
    <option value="Computers">Computers</option>
    <option value="Wearables">Wearables</option>
    <option value="Accessories">Accessories</option>
    <option value="Mobiles">Mobiles</option>
  </select>
</label>
 
    <div class="form-actions">
      <button type="submit" class="save-btn" [disabled]="editForm.invalid">💾 Save Changes</button>
      <button type="button" class="cancel-btn" (click)="onCancel()">❌ Cancel</button>
    </div>
  </form>
</div>
 
 